#!/bin/bash

## Variables to pass to internal commands and functions
PROJECT_ROOT=$(pwd)
PHP=$(which php)

## Quickly return to the project root directory after an accidental `cd`
alias cvd='cd $PROJECT_ROOT'

## Coding Standard
alias pints='pint > /dev/null 2>&1'

## PHP testing
LOCAL_PEST="$PROJECT_ROOT/vendor/bin/pest"
alias dpt='XDEBUG_MODE=off $LOCAL_PEST --color=always'
alias dptc='XDEBUG_MODE=coverage $LOCAL_PEST --color=always --coverage'

## Specific PHP test
function dpet() {
  local yellow="\033[38;2;255;216;102m"
  local green="\033[38;2;169;220;118m"
  local reset="\033[0m"

  convert_path() {
    local file="$1"
    if [[ "$file" != *.php ]]; then
      file="${file//\\//}"
      file="${file/Tests/tests}.php"
    fi
    echo "$file"
  }

  if [ $# -lt 1 ]; then
    # Run all tests
    dpt
    return
  fi

  local file
  file=$(convert_path "$1")

  if [ $# -eq 1 ]; then
    # Test a specific class
    printf "$yellow%s$reset\n" "$file"
    dpt "$file"
  else
    # Test a specific description
    local description="$2"
    printf "$yellow%s$reset $green'%s'$reset\n" "$file" "$description"
    dpt "$file" --filter "$description"
  fi
}

## Specific PHP test with coverage
function dpetc() {
  local yellow="\033[38;2;255;216;102m"
  local green="\033[38;2;169;220;118m"
  local reset="\033[0m"

  convert_path() {
    local file="$1"
    if [[ "$file" != *.php ]]; then
      file="${file//\\//}"
      file="${file/Tests/tests}.php"
    fi
    echo "$file"
  }

  if [ $# -lt 1 ]; then
    # Run all tests
    dptc
    return
  fi

  local file
  file=$(convert_path "$1")

  if [ $# -eq 1 ]; then
    # Test a specific class
    printf "$yellow%s$reset\n" "$file"
    dptc "$file"
  else
    # Test a specific description
    local description="$2"
    printf "$yellow%s$reset $green'%s'$reset\n" "$file" "$description"
    dptc "$file" --filter "$description"
  fi
}

## Command-line testing
alias devt='$PROJECT_ROOT/.test'

## Git
alias gpo='git push origin'

## Remove the above definitions
function unsetrc() {
  unset PROJECT_ROOT
  unset PHP

  unalias cvd

  unset LOCAL_PEST
  unalias dpt
  unalias dptc

  unset -f dpet

  unset devt

  unset gpo

  unset -f unsetrc
}
